.about {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.about p {
    color: #aaa;
    margin-bottom: 2em;
}

.about a {
    display: block;
    margin-top: 15px;
    padding: 10px 15px;
}

.itemBtn {
    border-bottom: 2px solid #eee;
}
