.postContainer {
    text-align: center;
}

.postContainer h3 {
    margin-bottom: 0.2em;
}

.postContainer .tags {
    display: flex;
    justify-content: center;
}

.postContainer img {
    margin-bottom: 2em;
    max-width: 600px;
}
.body {
    max-width: 80%;
    margin: 0 auto;
}

.tags p {
    margin-right: 1em;
}

.tags span {
    font-weight: bold;
}
